<table id="webmailContainer">
  <tr>
    <td id="webmailContent">
      <div id="addressContent">
        <div class="actionMenu">
          <%= link_to :index, gw_webmail_public_address_groups_path(build_public_address_path_queries) %>
        </div>
        <p class="form"><%= @group.name if @group.persisted? %></p>

<%= form_for @group do |f| %>
<%= f.error_messages %>

<%= hidden_field_tag :book_id, @book.id %>

  <table class="show">
    <tr>
      <th><%= Gw::WebmailPublicAddressGroup.human_attribute_name(:parent_id) %></th>
      <td><%= f.select :parent_id, options_for_select(build_select_address_groups(@book.groups, @group), @group.parent_id),
        { include_blank: t("rumi.public_address_group.root_group.include_blank") }, { class: "parent_id"} %>
      </td>
    </tr>
    <tr>
      <th><%= Gw::WebmailPublicAddressGroup.human_attribute_name(:name) %></th>
      <td><%= f.text_field :name, class: "name" %></td>
    </tr>
  </table>

  <div class="submitters">
    <%= f.submit %>
  </div>

<% end %>

      </div>
    </td>
  </tr>
</table>
