<h2>
<%= I18n.t('rumi.forward_message.gwcircular_forward_message_1') %><br />
<%= I18n.t('rumi.forward_message.gwcircular_forward_message_2') %><br />
<%= I18n.t('rumi.forward_message.gwcircular_forward_message_3') %><br />
</h2>
<%= form_for(:item, :url => @forward_form_url, :method => :post,
          :html => {:id => "item_form", :multipart => true, :target => @target_name, :style => "display: inline"}) do |f| %>
        <%= hidden_field_tag :title, "転送（メールから）: #{@item.subject}" %>
        <%= hidden_field_tag :body, "#{@mail_text_body}" %>
        <% if @item.has_attachments? && @item.attachments.size > 0 %>
          <%= hidden_field_tag :tmp, @tmp %>
          <%= hidden_field_tag :name, @name %>
          <%= hidden_field_tag :content_type, @content_type %>
          <%= hidden_field_tag :size, @size %>
        <% end %>
        <%= f.submit '転送（回覧板）', :id => "item_submit", :class => "gwcircular_forward", :style => "display: none;" %>
      <% end %>

<script type="text/javascript">
//<![CDATA[
var my_load = function() {
  $('item_form').submit();
}

window.onload = my_load;
//]]>
</script>
