<%= javascript_include_tag "/_common/js/mail_form.js" %>
<%= javascript_include_tag "jquery.tablesorter.js" %>
<script>
  // アドレス帳選択UI
  var addressBookSelector = new rumi.ui.addressBookSelector();
  addressBookSelector.setBookCategory("public_address_book");

  /**
   * 共有アドレス帳にアドレスを登録するメソッド
   * @param {string} email
   * @param {string} name
   * @param {string} kana
   * @param {string=} opt_private_address_id
   * @return {void}
   */
  function addAddressToPublicAddressBook(email, name, kana, opt_private_address_id) {
    var book_id = addressBookSelector.getBookId();
    if (book_id) {
      rumi.ui.addAddressToPublicAddressBook(email, name, kana, book_id, opt_private_address_id);
    } else {
      alert("<%= t('rumi.operation.add_public_address.prompt') %>");
    }
  };
</script>

<table id="webmailContainer">
  <tr>
    <td id="webmailMenu">
      <div id="webmailMenuContainer">
        <%= render partial: "menu" %>
        <div class="mailbox">
          <%= render partial: "shared/address_groups/selectable_group_with_container", locals: { groups: @root_groups } %>
        </div>
        <br />
        <div class="actionMenu">
          <%= link_to t("rumi.public_address_book.action.csv.import.name"), import_gw_webmail_addresses_path, style: "margin-bottom: 10px;" %>
          <%= link_to t("rumi.public_address_book.action.csv.export.name"), export_gw_webmail_addresses_path %>
        </div>
      </div>
    </td>
    <td id="webmailContent">
      <div id="addressContent">
        <%= render partial: "shared/address_groups/search" %>

        <%# createMail用のform %>
        <%= form_for(:item, url: create_mail_gw_webmail_address_groups_path,
          html: {id: "users", name: "users", target: "_blank"}) do |f| %>
          <div id="addresses">
            <%# @s_items は検索結果, @items はすべての場合 %>
            <%= render partial: "shared/address_groups/address", locals: { addresses: @s_items || @items,
              group_name: inital_current_address_group_name } %>
          </div>
        <% end %>
      </div>
    </td>
  </tr>
</table>
